# Exclude Angular source
dashboard/src
dashboard/public
dashboard/node_modules
dashboard/angular.json
dashboard/tsconfig*.json
dashboard/package*.json
dashboard/.gitignore
dashboard/.editorconfig

# Keep only built assets
!dashboard/dist/**
