<div class="container">
  <mat-toolbar>
    <span class="topbar-logo">BLineScan</span>
    <span class="spacer"></span>
    <div class="project-details">
      <span class="mat-body-large detail"><span>Project Name:</span> {{report?.metadata?.name || 'N/A'}}</span>
      <span class="mat-body-large  detail"><span>Created At:</span> {{report?.metadata?.createdAt || 'N/A'}}</span>
    </div>
  </mat-toolbar>
  @if (loading) {
    <div class="loading-container">
      <mat-spinner [diameter]="128" [color]="'#111413'"></mat-spinner>
    </div>
  } @else if (error) {
    <div class="error-container">
      <span class="mat-title-large">{{error}}</span>
    </div>
  } @else {
    <mat-tab-group>
      <mat-tab label="Overview">
        <app-overview [summary]="report!.summary"/>
        <div class="charts">
          <mat-card class="chart" appearance="outlined">
            <mat-card-header>
              <mat-card-title class="mat-headline-small" style="font-weight: bold; margin: 0">Baseline Distribution
              </mat-card-title>
              <mat-card-subtitle class="mat-body-medium">Visualizes the proportion of features with low, high and experimental
                baseline status.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="chart-body">
              <apx-chart
                [theme]="{mode: 'dark'}"
                [series]="[report!.charts.baselineDistribution.experimental, report!.charts.baselineDistribution.low, report!.charts.baselineDistribution.high]"
                [labels]="['Experimental', 'Low', 'High']"
                [chart]="{type: 'pie', width: 380, background: 'transparent'}"
                [responsive]="[{breakpoint: 480, options: {chart: {width: 300}, legend: {position: 'top'}}}]"></apx-chart>
            </mat-card-content>
          </mat-card>
          <mat-card class="chart" appearance="outlined">
            <mat-card-header>
              <mat-card-title class="mat-headline-small" style="font-weight: bold; margin: 0">Adoption Timeline
              </mat-card-title>
              <mat-card-subtitle class="mat-body-medium">Shows how many features reached baseline support per year.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="chart-body">
              <apx-chart
                [theme]="{mode: 'dark'}"
                [chart]="{type: 'line', height: 350, background: 'transparent'}"
                [series]="timelineSeries"
                [xaxis]="timelineXAxis"
                [stroke]="{curve: 'smooth'}"></apx-chart>
            </mat-card-content>
          </mat-card>
          <mat-card class="chart" appearance="outlined">
            <mat-card-header>
              <mat-card-title class="mat-headline-small" style="font-weight: bold; margin: 0">Category Breakdown
              </mat-card-title>
              <mat-card-subtitle class="mat-body-medium">Compares how many features were detected in HTML vs CSS.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="chart-body">
              <apx-chart
                [theme]="{mode: 'dark'}"
                [series]="[{name: 'Count', data: [report!.charts.featureCategoryBreakdown.html, report!.charts.featureCategoryBreakdown.css]}]"
                [chart]="{type: 'bar', height: 350, background: 'transparent'}"
                [xaxis]="{categories: ['HTML', 'CSS']}"
                [dataLabels]="dataLabels"
                [tooltip]="tooltip"
                [plotOptions]="{bar: {borderRadius: 4, horizontal: false}}"/>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="HTML">
        <app-overview [summary]="report!.html.summary"/>
        <app-features [features]="report!.html.features"/>
      </mat-tab>
      <mat-tab label="CSS">
        <app-overview [summary]="report!.css.summary"/>
        <app-features [features]="report!.css.features"/>
      </mat-tab>
      <mat-tab label="Javascript (Coming Soon!)" disabled/>
    </mat-tab-group>
  }
</div>

